<div class=login>
<div class=login-cntr>
    <mat-card class="login-card">
        <mat-card-header>
          <mat-card-title>Seat Booking App</mat-card-title>
        </mat-card-header>
        <mat-card-title-group>
            <img mat-card-sm-image src="../../assets/office-chair-vector.jpg" >
            <mat-card-content>
                <asl-google-signin-button type='standard' logo_alignment="center"></asl-google-signin-button>
            </mat-card-content>
        </mat-card-title-group>
    </mat-card>
</div>
</div>
