.container1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1.app-name {
    margin-left: 8px;
    cursor: pointer;
}

h3.user-details {
    cursor: pointer;
}

h6.user-details {
    cursor: pointer;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.content {
    padding: 20px;
}

.user {
    margin-left: auto;
    margin-right: 0;
    font-size: 0.85em;
    line-height: normal;
    .name {
        padding-bottom: 5px;
    }
}