.table-view {
    margin: 10px 15px;
}
.btn-icon-action {
    width: auto;
}
.btn-add {
    padding: 15px 0;
}
.btn-action {
    height: 25px;
    margin-right: 10px;
    padding: 0;
    width: auto;
}

.top-items mat-icon {
    font-weight: bold;
    font-size: 3em;
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.add-btn{
    float: left;
    border: groove;
}