<div class="table-view">
    <div style="float: right;">
        <mat-form-field *ngIf="!(configuration && (configuration.disableFullTextSearch))">
            <mat-label>Filter</mat-label>
            <input matInput
                (keyup)="applyFilter($event)"
                placeholder="Search"
                #input />
        </mat-form-field>
    </div>
    <div class="btn-add">
        <button 
            mat-raised-button color="primary"
            *ngIf="(configuration && (configuration.add))"
            (click)="add()"
            cdkFocusInitial>{{configuration.addConfig?.label? configuration.addConfig.label : 'Add'}}</button>
    </div>
    <table mat-table
        matSort
        [dataSource]="dataSource"
        class="mat-elevation-z8"
        style="width: 100%;">
        <!-- Position Column -->
        <ng-container *ngFor="let column of columnDefinition">
            <ng-container *ngIf="column.type === COLUMN_TYPE.LABEL"
                [matColumnDef]="column.field">
                <th mat-sort-header
                    mat-header-cell
                    *matHeaderCellDef> {{column.label}} </th>
                <td mat-cell
                    *matCellDef="let element"> {{getValue(element, column.field)}} </td>
            </ng-container>
            <ng-container *ngIf="column.type === COLUMN_TYPE.DATE_LABEL"
                [matColumnDef]="column.field">
                <th mat-sort-header
                    mat-header-cell
                    *matHeaderCellDef> {{column.label}} </th>
                <td mat-cell
                    *matCellDef="let element"> {{getValue(element, column.field)}} </td>
            </ng-container>
            <ng-container *ngIf="column.type === COLUMN_TYPE.HYPERLINK"
                [matColumnDef]="column.field">
                <th mat-sort-header
                    mat-header-cell
                    *matHeaderCellDef> {{column.label}} </th>
                <td mat-cell
                    *matCellDef="let element">
                    <a href="javascript:void(0);"
                        (click)="onClick(element,column.id,0)">{{getValue(element,
                        column.field)}}</a>
                </td>
            </ng-container>
            <ng-container *ngIf="column.type === COLUMN_TYPE.ACTION"
                [matColumnDef]="column.field">
                <th mat-sort-header
                    mat-header-cell
                    *matHeaderCellDef> {{column.label}} </th>
                <td mat-cell
                    *matCellDef="let element">
                    <ng-container *ngFor="let actionConfig of configuration.actionConfig">
                        <button *ngIf="actionConfig.type !== actionType.BUTTON"
                            class="btn-icon-action"
                            (click)="actionConfig?.action!(element)"
                            mat-icon-button
                            [matTooltip]="actionConfig.tooltip ? actionConfig.tooltip: ''"
                            [disabled]="actionConfig.disableOptions && getValue(element,actionConfig.disableOptions?.field) === actionConfig.disableOptions?.value ? true : false"
                            color="primary">
                            <span *ngIf="actionConfig?.disableOptions">
                                <mat-icon>{{getValue(element,actionConfig.disableOptions.field) ===
                                    actionConfig.disableOptions.value?
                                    actionConfig.disableOptions.iconName : actionConfig.iconName}}</mat-icon>
                            </span>
                            <span *ngIf="!actionConfig?.disableOptions">
                                <mat-icon>{{actionConfig?.iconName}}</mat-icon>
                            </span>
                        </button>

                        <button *ngIf="actionConfig.type === actionType.BUTTON"
                            class="btn-action"
                            mat-raised-button
                            (click)="actionConfig?.action!(element)"
                            [matTooltip]="actionConfig.tooltip ? actionConfig.tooltip: ''"
                            [disabled]="actionConfig.disableOptions && getValue(element,actionConfig.disableOptions?.field) === actionConfig.disableOptions?.value ? true : false"
                            color="primary">
                            <span *ngIf="actionConfig?.disableOptions">
                                {{getValue(element,actionConfig.disableOptions.field) ===
                                actionConfig.disableOptions.value?
                                actionConfig.disableOptions.label : actionConfig.label}}
                            </span>
                            <span *ngIf="!actionConfig?.disableOptions">
                                {{actionConfig?.label}}
                            </span>

                        </button>

                    </ng-container>

                </td>
            </ng-container>
            <ng-container *ngIf="column.type === COLUMN_TYPE.SELECT"
                [matColumnDef]="column.field">
                <th mat-sort-header
                    mat-header-cell
                    *matHeaderCellDef> {{column.label}} </th>
                <td mat-cell
                    *matCellDef="let element">
                    <mat-select class="w-75"
                        [(ngModel)]="element[column.field]"
                        [disabled]="column.readOnly">
                        <mat-option *ngFor="let item of configuration.masterData[column.field]"
                            [value]="item[column.idField ? column.idField : 'id']">
                            {{item[column.labelField ? column.labelField : 'label']}}
                        </mat-option>
                    </mat-select>
                </td>
            </ng-container>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row
            *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator *ngIf="!configuration?.hidePagination && paginationOptions"
        [length]="paginationOptions.totalDataSize"
        [pageSize]="paginationOptions.pageSize"
        [pageSizeOptions]="paginationOptions.pageSizeOptions"
        (page)="onPaginationChange($event)"
        aria-label="Select page">
    </mat-paginator>
</div>