<mat-grid-list cols="3">
    <mat-grid-tile>
        <div>
            <div class="title">Smart Booking For Hybrid Workspace</div>
            <div class="desc">
                Create flexible work arrangements, maximize space utilization, and redefine employee experience.
                <div>
                    <button routerLink= "/booking" class="btn-booking" mat-fab extended color="primary">
                        <mat-icon>event_seat</mat-icon>
                        View your Booking
                      </button>
                </div>
              
            </div> 
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <img class="img" src="/assets/booking.png" alt="image">
    </mat-grid-tile>
  </mat-grid-list>